@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;900&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

body {
  font-family: 'IBM Plex Sans Thai', sans-serif;
}
