@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;900&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

body {
  font-family: 'IBM Plex Sans Thai', sans-serif;
}


.text-primary {
  color: var(--color-green-700);
}
.bg-primary, .bg-success {
  background-color: var(--color-green-700);
}



